Challenges/Leaves of the Vine/*.mp4
Challenges/Audio Spectrogram/Images/*
Challenges/Audio Spectrogram/Merged Audio (Music+Key)/*
Challenges/Audio Spectrogram/Music Audio/*
Challenges/Audio Spectrogram/Keys Audio/*
Challenges/Audio Spectrogram/Spectrograms