/* Reset default margin and padding for the whole page */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Set a background color for the whole page */
body {
  background-color: #515151; /* Lighter shade of grey */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the console window */
.console {
  background-color: #151929; /* #5a5f73 color */
  border: 2px solid #000; /* Black border */
  border-radius: 1%; /* Add some rounded corners */
  padding: 10px;
  box-shadow: -5px 9px 19px 3px rgb(0 0 0 / 52%); /* Add a shadow effect */
  align-items: center; /* Center the content within the console */
  height: 80vh; /* Set a fixed height for the console */
  overflow-y: auto; /* Add a vertical scrollbar when content exceeds the height */
  width: 130ch; /* Set the maximum width to 120 characters */
}

/* Style the output container within the console */
.output {
  color: #fff; /* Text color for the console content */
  font-family: monospace; /* Use a monospace font to simulate a terminal */
  word-wrap: break-word; /* Wrap text when it's longer than the container width */
}

/* Style the red text */
.red {
  color: red;
}

.bootTime {
  color: lightgreen;
}

.asciibanner {
  color: khaki;
}

.seperator {
  color: silver;
}

/* Style the scrollbar */
.console::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.console::-webkit-scrollbar-thumb {
  background: #505050; /* Color of the scrollbar thumb */
  border-radius: 2px; /* Rounded thumb */
}

.console::-webkit-scrollbar-thumb:hover {
  background: #424242; /* Color of the scrollbar thumb on hover */
}

.console::-webkit-scrollbar-track {
  background: #5a5f73; /* Color of the scrollbar track */
}

/* Disable horizontal scrollbar */
.console::-webkit-scrollbar-track-piece:start {
  background: transparent; /* Hide the left part of the scrollbar track */
}

.console::-webkit-scrollbar-track-piece:end {
  background: transparent; /* Hide the right part of the scrollbar track */
}
